exercice 1:Créer une liste en choisissant des éléments d'index impair dans la première liste et des
éléments d'index pair dans la seconde.
Étant donné deux listes, l1 et l2, écrivez un programme pour créer une troisième liste l3 en
choisissant un élément d'indice impair dans la liste l1 et des éléments d'indice pair dans la liste l2

In [ ]:
l1=[3, 6, 9, 12, 15, 18, 21]
l2=[4, 8,12, 16, 20, 24, 28] 
L1=[l1[i] for i in range(len(l1))  if i % 2!=0]
L2=[l2[i] for i in range(len(l2)) if i % 2==0]
L=L1+L2
print(L)

exircece 2:Deviser la liste en 3 morceaux égaux et inverser chaque morceau

In [ ]:
liste = [11,45,8,23,14,12,78,45,12]
a=liste[:3]
print (a)
b=liste[3:6]
print(b)
c=liste[6:]
print(c)
a.reverse()
print(a)
b.reverse()
print(b)
c.reverse()
print(c)

exercice 3:Écrire un programme pour itérer une liste donnée et compter l'occurrence de chaque élément et
créer un dictionnaire pour montrer le nombre de chaque élément.

In [ ]:
liste = [11,45,8,23,45,23,45,89] 
print({k:liste.count(k) for k in liste})

exercice 4:liste =Trouver l'intersection (commune) de deux Sets et supprimez ces éléments du premier Set

In [ ]:
set1={23, 42, 65, 57, 78, 83, 29}
set2={57, 83, 29, 67, 73, 43, 48}
intersection=set(set1 & set2)
print("intersection :",intersection)

for k in intersection:
    set1.remove(k)
print("Set 1 après suppression:", set1)

exercice 5:Itérer une liste donnée et vérifier si un élément donné existe en tant que valeur de clé dans
un dictionnaire. Sinon, supprimez-le de la liste

In [ ]:
liste=[47, 64, 69, 37, 76, 83, 95, 97]
dictionnaire={'Yassine':47, 'Imane':69, 'Mohammed':76, 'Abir':97}
list=[value for value in liste if value in dictionnaire.values()]
print(list)